## UCI adult income Dataset Data Cleaning and Preprocessing 

This book is focused on preparation , cleaning and preprocessing For the UCI Adult income DataSet.

In [1]:
# import Libraries 

import pandas as pd
import numpy as np 
import os

# Define and Create paths

In [3]:
# Get working directory 

current_dir = os.getcwd()

# Go one directory up to the root directory
project_root_dir = os.path.dirname(current_dir)

# Define paths to the folders
data_dir  = os.path.join(project_root_dir ,'data')
raw_dir  = os.path.join(data_dir ,'raw')
processed_dir  = os.path.join(data_dir ,'processed')

#Define paths to results folder
results_dir  = os.path.join(project_root_dir ,'results')

# Define paths docs folder
docs_dir  = os.path.join(project_root_dir ,'docs')

#create directories if they do not exist
os.makedirs(raw_dir, exist_ok = True)
os.makedirs(processed_dir, exist_ok = True)
os.makedirs(results_dir, exist_ok = True)
os.makedirs(docs_dir, exist_ok = True)

# Read in the Data

In [4]:
adult_data_filename =os.path.join(raw_dir,"adult.csv")
adult_df = pd.read_csv(adult_data_filename)
adult_df.head(5)

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [6]:
adult_df.shape

(32560, 15)

In [7]:
adult_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

# Data Cleaning

# Assign proper column names to the columns

In [11]:
adult_df.columns= [ "age", "workclass","fnlwgt", "education", "education_num", "marital_atatus", "occupation", "relationship", "race", "sex", "capital_gain", "capital_loss", "hours_per_week", "native_country", "income"]

## Understanding the dataset
- age: represents the age of the person, ranging from 17 to 90.
- workclass:represents

In [ ]:
np.unique(adult_df.age.to_list())